/* STARTER CODE */

* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
}

#sticky, h1, h2, h3, h4, .contact {
  font-family: "Raleway";
  font-weight: 600;
}

/* NAVIGATION BAR */


#sticky {
  width: 100%;
  background-color: white;
  position: fixed;
  font-size: 1em;
  top: 0;
  z-index: 1;
}

nav, header {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(194, 207, 215);
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: .5em 5em 0 0;
}

ul {
  color: rgb(194, 207, 215);
  line-height: 1.5em;
}

p {
  color: rgb(146, 156, 161);
}

/* HEADER */

header {
  position: relative;
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 90%;
}

header h1, header h2 {
  width: 100%;
  position: absolute;
  bottom: 20%;
  margin: 3em auto;
}

h1 {
  letter-spacing: 0.5em;
  font-size: 2.5em;
  margin: 1em auto;
}

header h2 {
  font-size: 1.5em;
  position: absolute;
  color: white;
  font-weight: 400;
}
/* HAMBURGER */

header i {
  display: none;
  position: absolute;
  top: -.5em
}

/* MAIN SECTION */

main {
  margin: 3em auto;
  width: 80%;
}

h2, h3, h4, footer a {
  color: rgb(69, 84, 94);
  text-transform: uppercase;
}

h3, h4 {
  text-align: center;
}

h4 {
  padding-bottom: 1.2em;
}


section {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

article h4 {
  font-size: .8em;
}

.one, .two, .three {
  width: 50%;
  margin: 0 auto;
  padding: .5em;
}

.one {
  float: left;
}

.two {
  float: center;
}

.three {
  float: right;
}

img {
  max-width: 100%;
  padding-bottom: 0, .5em;
}

article button {
  padding: .5em;
  width: 40%
}

/* ASIDE */

aside {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color:rgb(206, 243, 246);
  padding: 4em 0;
  width: 90%;
  margin: 6em auto;
}

aside p {
  width: 70%;
  margin: 0 auto;
  color: rgb(69, 84, 94);
}

/* GALLERY */

#gallery {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-bottom: 3em;
}

.pictures-col-1, .pictures-col-2, .pictures-col-3 {
  padding: .5em;
  width: 60%;
  margin: 0 auto;
}

.pictures-col-1 {
  float: left;
}

.pictures-col-2 {
  float: center;
}

.pictures-col-3 {
  float: right;
}

/* COMMENT SECTION */

.box, .comment, #first, #second, #submit {
  margin: 0 auto;
}

.box {
  width: 80%;
  padding-bottom: 4em;
}

.comment {
  position: flex;
  margin: 1em auto;
  width: 100%;
  padding-bottom: 2em;
}

.comment h2 {
  text-align: center;
  padding-bottom: 2em;
}

#first, #second, textarea {
  padding-left: 1em;
}

#first {
  float: left;
  width: 48%;
}

#second {
  float: right;
  width: 48%;
}

textarea {
  margin: 0 auto 1.2em;
  width: 100%;
  height: 200px;
  padding-top: 1em;
}

#submit {
  padding: 1em;
  width: 100%;
}

input, textarea, button {
  text-transform: uppercase;
  border: 1.5px solid #45545e;
}

input {
  margin-right: 2em;
  height: 3em;
  width: 30%;
}

/* FOOTER */

footer {
  display: block;
  background-color: rgb(206, 243, 246);
  margin: 0 auto;
  padding-bottom: 1em;
  width: 95%;
}

i {
  font-size: 2em;
}

.contact button {
  background-color: rgb(206, 243, 246);
  border: 0.2em rgb(69, 84, 94) solid;
  height: 3em;
  width: 15%;
  margin-left: 1em;
  /* HOVER EFFECT */
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.contact button:hover {
  background-color: #45545e;
  color: white;
}

.contact {
  padding: 1em;
  border-bottom: 0.1em solid #45545e;
  font-size: 2em;
}

i {
  padding-right: 1em;
  padding-top: 1em;
}

.text {
  border: none;
}


footer input {
  text-align: center;
}

span {
  color: rgb(69, 84, 94);
  display: block;
  padding-top: 2em;
  font-family: "Lato", sans-serif;
}

/* 856px breakpoint */

@media screen and (max-width: 856px){

  section {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  }

  .one, .two, .three {
  width: 70%;
  display: block;
  padding: 1em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  article {
    margin: auto;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

/* 564px breakpoint */

@media screen and (max-width: 564px){
  p {
    font-size: 1em;
  }

  header {
    width: 100%;
    display: relative;
  }

  header i {
    padding-left: .75em;
    font-size: 1.25em;
    float: left;

  }

  #sticky {
    display: none;
  }

  article h4 {
    font-size: .7em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  .contact button {
    width: 100;
  }
}

